@{
	ViewData["Title"] = "Technician Manager"; 
}
@model List<Technician>

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
	</thead>
	<tbody>
		@foreach (var technician in Model)
		{
			<tr>
				<td>@technician.Name</td>
				<td>@technician.Email</td>
				<td>@technician.PhoneNumber</td>
				<td>
					<a asp-controller="Technician" asp-action="Edit"
						asp-route-id="@technician.TechnicianId">Edit</a>
					<a asp-controller="Technician" asp-action="Delete"
					   asp-route-id="@technician.TechnicianId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-controller="Technician" asp-action="Add" class="btn btn-primary">Add Technician</a>