@{
	ViewData["Title"] = "Product Manager";
}
@model List<Product>

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
	<thead>
		<th>Code</th>
		<th>Name</th>
		<th>Price</th>
		<th>Release Date</th>
	</thead>
	<tbody>
		@foreach (var product in Model){
			<tr>
				<td>@product.Code</td>
				<td>@product.Name</td>
				<td>@product.YearlyPrice.ToString("C")</td>
				<td>@product.ReleaseDate</td>
				<td>
					<a asp-controller="Product" asp-action="Edit"
						asp-route-id="@product.ProductId">Edit</a>
					<a asp-controller="Product" asp-action="Delete"
					   asp-route-id="@product.ProductId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-controller="Product" asp-action="Add" class="btn btn-primary">Add Product</a>

